/*
Author: David Oerter
Author URL: http://www.pastorensohn.de/
Version: 1
*/

/* IE und FF Nullsetzen
--------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 1em;
}

/* Body definieren und Content zenrieren
--------------------------------------------------*/
body {
  margin: 0px;
  padding: 0px;
  background-color: #f6f6f6;
}

#centercontainer {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #f6f6f6;
  border-left: 20px solid #f6f6f6;
  border-right: 20px solid #f6f6f6;
}

/* Boxen Layout
--------------------------------------------------*/

#headcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dbdbdb;
}

#headcontainer .above_picture {
  width: 100%;
  text-align: right;
}

#headcontainer .above_picture p span,
#headcontainer .above_picture p span a {
  width: 100%;
  text-align: right;
  font-size: 16px;
}

#headcontainer .image img {
  width: 100%;
  height: 30vh;
}

/* Navigation
--------------------------------------------------*/
#navi {
  height: 28px;
  width: 100%;
  background-image: url(layout/navi_border.gif);
  background-repeat: repeat-x;
  list-style-type: none;
}

#navi ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
  padding: 0;
}

#navi li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

#navi li a {
  display: block;
  width: 110px;
  margin: 0px 5px;
  font-size: 16px;
  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: #f6f6f6;
  color: black;
  text-decoration: none;
  border-top: 6px solid #c5d3de;
  list-style-type: none;
}

#navi li a:link {
  border-top: 6px solid #c5d3de;
  background-color: #f6f6f6;
}

#navi li a:hover {
  border-top: 6px solid #ad7463;
  background-color: #f6f6f6;
  font-weight: bold;
}

#navi li a:active {
  border-top: 6px solid #ad7463;
  font-weight: bold;
}

#subnavi {
  float: left;
  width: 15%;
  height: 100vh;
  margin: 10px 0px;
  list-style-type: none;
  white-space: nowrap;
  font-size: 20px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: black;
  text-decoration: none;
}

#subnavi ul {
  margin: 0;
  padding-top: 15px;
}

#subnavi li {
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
}

#subnavi ul li a {
  margin: 10px 10px;
  font-size: 16px;
  padding: 0;
  list-style-type: none;
  white-space: nowrap;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: black;
  text-decoration: none;
}

#subnavi li a:hover {
  color: #801e03;
}

#subnavi li a:active {
  color: #801e03;
}

#content {
  border-left: 1px solid #dbdbdb;
  float: left;
  width: 85%;
  box-sizing: border-box;
}

#content_fullwidth {
  border: 1px solid #dbdbdb;
  padding: 10px;
  float: left;
  width: 100%;
  box-sizing: border-box;
}

.content {
  margin-top: 7px;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  color: #313131;
}

.credits {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #313131;
}

.contentmore {
  margin: 20px 30px 7px 30px;
  flex-wrap: wrap;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #313131;
}

.contentcredits {
  margin-left: 45px;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  color: #313131;
}

.contentcreditsprojects {
  margin-left: 50px;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #313131;
}

.subline {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  font-weight: bold;
  color: #313131;
  margin-top: 10px;
  margin-left: 30px;
}

#content ul {
  margin: 0;
  padding-top: 11px;
  height: 150px;
}

#content ul li {
  list-style-type: none;
  display: block;
  width: 100%;
  float: left;
  border-top: 1px solid #dbdbdb;
  margin: 10px 0px;
  padding: 0px 0px 10px 10px;
}

#content ul li:hover {
  background-color: #ffffff;
}

.anker {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #ad7463;
  font-weight: bold;
  text-align: right;
}

.anker a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #ad7463;
  font-weight: bold;
  text-align: right;
}

.anker a:hover {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #313131;
  font-weight: bold;
  text-align: right;
}

.anker a:visited {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #313131;
  font-weight: bold;
  text-align: right;
}

.anker a:active {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 11px;
  color: #313131;
  font-weight: bold;
  text-align: right;
}

#content p {
  text-align: justify;
  font-size: 16px;
}

#content .headline {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: #313131;
  display: block;
  margin: 10px 0px;
}

#footercontainer {
  clear: both;
  border-top: 1px solid #dbdbdb;
  width: 100%;
  padding: 5px 0px;
  margin-top: 0px;
}

#footercontainer span {
  font-size: 16px;
}

/* ===== Contact Page =====  */


.social_icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
  flex-wrap: wrap;
  align-items: center;
}

.social_icons ul li {
  margin: 5px 5px;
  list-style: none;
}
.social_icons li i {
  background-color: #47b2e4;
  height: 48px;
  line-height: 48px;
  min-width: 48px;
  font-size: 30px;
  border-radius: 50%;
  color: white;
  text-align: center;
  transition: 0.5s;
}
.social_icons li i:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}

.social_icons li p{
  font-size: 35px;
  color: white;
  height: 50px;
}
.social_icons li span{
  border-radius: 50%;
  padding: 0px 12px 0px 12px;
  background-color: #47b2e4;
  transition: 0.5s;
}
.social_icons li span:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* Sprach-Wahl
--------------------------------------------------*/

.language {
  font-size: 11px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: gray;
  text-decoration: none;
}

.language a {
  font-size: 11px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: gray;
  text-decoration: none;
}

.language a:hover {
  color: #801e03;
}

.language a:active {
  color: #801e03;
}

/* Footer
--------------------------------------------------*/
.footer {
  padding-top: 10px;
  font-size: 11px;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  color: gray;
  text-decoration: none;
}

/* Content
--------------------------------------------------*/
.headline {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: bold;
  color: #313131;
  display: block;
  margin-left: 30px;
}

.headlinenolist {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #dbdbdb;
  color: #313131;
  display: block;
  padding: 15px 5px;
}

.yearsmall {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 10px;
  color: gray;
}

.cover {
  width: 130px;
  margin-left: 10px;
  float: left;
  padding-right: 10px;
}
.owner_image {
  display: flex;
  justify-content: center;
  padding: 20px 10px 0px 10px;
}
.owner_image img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #801e03;
  transition: 0.5s;
}
.owner_image img:hover {
  width: 180px;
  height: 180px;
}
.owner_headlinenolist {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  border-bottom: 1px solid #dbdbdb;
  color: #313131;
  display: block;
  padding: 5px 5px 15px 5px;
}
.para {
  text-align: justify;
  line-height: 1.5;
}
.para p {
  margin: 15px 0px;
}

.textcontainer {
  background-color: #cccccc;
}

/* =========   Media Quries for above 824px screen  ========= */
@media only screen and (min-width: 824px) {
  #sub_division1 {
    display: none;
  }
}


/* =========   Media Quries for Upto 824px screen  ========= */
@media (max-width: 824px) {
  
  #subnavi ul li a {
    font-size: 14px;
  }

  .content {
    margin-left: 0px;
    font-size: 14px;
  }
}

/* =========   Media Quries for above 735px screen  ========= */
@media only screen and (min-width: 735px) {
  #sub_division1 {
    display: none;
  }
}

/* =========   Media Quries for Upto 734px screen  ========= */
@media (max-width: 734px) {
  #subnavi {
    display: none;
  }
  #navi li a,
  #navi ul li {
    display: block;
    width: 90px;
    margin: 0px 2px;
    font-size: 16px;
  }

  #navi ul {
    justify-content: center;
  }

  #sub_division1 {
    background-color: #c8c9f7;
    border: 1px solid #f6f6f6;
    margin: 10px 0px;
    font-size: 20px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
  }

  #sub_division1 ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 5px 20px 5px;
  }

  #sub_division1 li {
    margin: 10px 5px 0px 5px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
    padding: 2px;
    list-style-type: none;
    white-space: nowrap;
  }

  #sub_division1 ul li a {
    margin: 10px 10px;
    font-size: 16px;
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: black;
    text-decoration: none;
  }
  #sub_division1 li:hover {
    background-color: white;
  }
  #sub_division1 li a:hover {
    color: #801e03;
  }

  #sub_division1 li a:active {
    color: #801e03;
  }
  .contentmore {
    display: flex;
    justify-content: left;
  }
  #content {
    width: 100%;
  }
  .content {
    margin-left: 0px;
    font-size: 14px;
  }
}


/* @media only screen and (max-width: 570px) */
@media (max-width: 570px) {
  
  #content ul li {
    display: flex;
    flex-direction: column;
  }
  #content ul li img {
    justify-content: center;
    text-align: center;
  }
  #content ul li {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin-left: 0px;
    font-size: 14px;
  }
}
